.card {
    display: inline-block;
    max-width: 18rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 1rem;
  }

  .card-wrapper {
    position: relative;
    display: inline-block;
    margin: 1rem;
  }
  
  .card-img-top {
    object-fit: contain;
    width: 18rem;
    height: 11.25rem;
    background-color: #fff;
    
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    margin-bottom: 1rem;
  }

  .update-form-container {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    z-index: 1; 
  }
  